@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Futura Light";
  src: url('../public/fonts/futura-light-bt.ttf');
}

@font-face {
  font-family: "Gilroy ExtraBold";
  src: url('../public/fonts/FontsFree-Net-Gilroy-ExtraBold.ttf');
}

body{
  font-family: "Gilroy ExtraBold";
  background: color(#0047ab);
  background-image: url("../public/images/Fondo-opaco.png");
}